<!DOCTYPE html>
<html>
<head>
  <title><%= resources.translate("Hu.js coming soon!")%></title>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script>
    var csrf = '<%=csrf%>';
  </script>
  <script src="/assets/scripts/admin-news.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">
          <span class="logo_hanzi">沪</span>JS<span class="logo_dot"> • </span>2012
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#"><%= resources.translate("Homepage")%></a></li>
            <li class="active"><a href="/news"><%= resources.translate("News")%></a></li>
            <li class="divider-vertical"></li>
            <li><a href="#schedule"><%= resources.translate("Schedule")%></a></li>
            <li><a href="#venue"><%= resources.translate("Venue")%></a></li>
            <li><a href="#speakers"><%= resources.translate("Speakers")%></a></li>
            <li><a href="#sponsors"><%= resources.translate("Sponsors")%></a></li>
            <li><a href="#community"><%= resources.translate("Community")%></a></li>
            <li><a href="#about"><%= resources.translate("About")%></a></li>
            <li><a href="#contact"><%= resources.translate("Contact")%></a></li>
          </ul>
        </div><!--/.nav-collapse -->
        <div class="btn-group pull-right">
        <% if (user.name) {%>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <img style="width: 18px; height: 18px;" src="<%=user.profile_image_url%>" /> <%=user.name%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a href="#">Profile</a></li>
            <li class="divider"></li>-->
            <li><a href="/ouath/logout">退出</a></li>
          </ul>
        <% } else { %>
          
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> 登录
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a href="#">Profile</a></li>
            <li class="divider"></li>-->
            <li>
              <a href="/oauth?blogtype=github">Github(推荐)</a>
            </li>
            <li>
              <a href="/oauth?blogtype=weibo">新浪微博</a>
            </li>
            <li>
              <a href="/oauth?blogtype=tqq">腾讯微博</a>
            </li>
          </ul>
        <% }%>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2><%= resources.translate("News")%></h2>
    <table id="formal-session" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= resources.translate("News")%></th>
          <th><%= resources.translate("Date")%></th>
          <th><%= resources.translate("Edit")%></th>
          <th><%= resources.translate("Remove")%></th>
          <th><%= resources.translate("View")%></th>
        </tr>
      </thead>
      <tbody>
        <% news.forEach(function (currentNews) { %>
        <tr data-id="<%=currentNews._id%>">
          <td><%=currentNews.title%></td>
          <td><%=currentNews.date.toLocaleDateString()%></td>
          <td><a href="javascript:;" class="edit btn btn-primary"><%= resources.translate("Edit")%></td>
          <td><a href="javascript:;" class="remove btn btn-danger"><%= resources.translate("Remove")%></td>
          <td><a href="/news/<%=currentNews._id%>" class="btn"><%= resources.translate("View")%></a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3><%= resources.translate("More news") %></h3>
    <p><%= resources.translate("Not enough") %></p>
    <div class="well">
      <fieldset id="news" class="control-group">
        <input type="hidden" id="id" />
        <label for="title"><%= resources.translate("Title")%>：</label>
        <input type="text" id="title" placeholder="<%= resources.translate("eg. title") %>" style="width:99%;" />
        <label for="content"><%= resources.translate("Content")%>：</label>
        <textarea id="content" style="width:99%;min-height:300px;"></textarea>
        <br />
        <button class='btn btn-primary' id='submit'>提交</button>
        <span class="help-inline" id='status'>&nbsp;</span>
      </fieldset>
    </div>
    <hr />
    <footer>
      &copy;hu.js 2012
    </footer>
  </div>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type='text/javascript'>
(function() {
    var c = document.createElement('script'); 
    c.type = 'text/javascript';
    c.async = true;
    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/46449';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
})();
</script>
</body>
</html>