<% include header %>
<script src="/assets/scripts/admin_topics.js"></script>
<div class="container">
  <h2><%= resources.translate("The survey")%></h2>
  <h3><%= resources.translate("Topics(formal)")%></h3>
  <table id="formal-session" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= resources.translate("Topic")%></th>
        <th><%= resources.translate("Speakers")%></th>
        <th>人气值</th>
        <th>操作</th>
        <th>查看</th>
      </tr>
    </thead>
    <tbody>
      <% formal.forEach(function (topic) { %>
      <tr data-id="<%=topic._id%>" data-type="<%=topic.type%>">
        <td><%=topic.name%></td>
        <td><%=topic.speaker%></td>
        <td><%= topic.vote.length %></td>
        <td><a href="javascript:;" class="select btn btn-primary">选为预选话题</a></td>
        <td><a href="javascript:;" class="view">查看</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <h3><%= resources.translate("Topics(inviting)")%></h3>
  <table id="pre-session" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= resources.translate("Topic")%></th>
        <th><%= resources.translate("Speakers")%></th>
        <th>人气值</th>
        <th>操作</th>
        <th>查看</th>
      </tr>
    </thead>
    <tbody>
      <% wish.forEach(function (topic) { %>
      <tr data-id="<%=topic._id%>" data-type="<%=topic.type%>">
        <td><%=topic.name%></td>
        <td><%=topic.speaker%></td>
        <td><%= topic.vote.length %></td>
        <td><a href="javascript:;" class="select btn btn-primary">选为正式话题</td>
        <td><a href="javascript:;" class="view">查看</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <h3><%= resources.translate("More topics") %></h3>
  <p><%= resources.translate("Not enough") %></p>
  <div class="well form-inline">
    <fieldset id="topic" class="control-group">
      <input type="hidden" id="id" />
      <label for="name"><%= resources.translate("Topic")%>：</label>
      <input type="text" id="name" placeholder="<%= resources.translate("eg. topic") %>" />
      <label for="speaker"><%= resources.translate("Speakers")%>：</label>
      <input type="text" class="input-medium" id="speaker" placeholder="<%= resources.translate("eg. speaker") %>" />
      <button class='btn btn-primary' id='submit'>更新</button>
      <span class="help-inline" id='status'>&nbsp;</span>
    </fieldset>
  </div>
</div>
<% include footer %>
