<!DOCTYPE html>
<html>
<head>
  <title><%= resources.translate("Hu.js coming soon!")%></title>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script>
    var csrf = '<%=csrf%>';
  </script>
  <script src="/assets/scripts/admin.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">
          <span class="logo_hanzi">沪</span>JS<span class="logo_dot"> • </span>2012
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#"><%= resources.translate("Homepage")%></a></li>
            <li><a href="/news"><%= resources.translate("News")%></a></li>
            <li class="divider-vertical"></li>
            <li><a href="#schedule"><%= resources.translate("Schedule")%></a></li>
            <li><a href="#venue"><%= resources.translate("Venue")%></a></li>
            <li><a href="#speakers"><%= resources.translate("Speakers")%></a></li>
            <li><a href="#sponsors"><%= resources.translate("Sponsors")%></a></li>
            <li><a href="#community"><%= resources.translate("Community")%></a></li>
            <li><a href="#about"><%= resources.translate("About")%></a></li>
            <li><a href="#contact"><%= resources.translate("Contact")%></a></li>
          </ul>
        </div><!--/.nav-collapse -->
        <div class="btn-group pull-right">
        <% if (user.name) {%>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> <%=user.name%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a href="#">Profile</a></li>-->
            <li class="divider"></li>
            <li><a href="/ouath/logout">退出</a></li>
          </ul>
        <% } else { %>
          <a href="/oauth?blogtype=weibo">
            <img src="http://www.sinaimg.cn/blog/developer/wiki/240.png" />
          </a>
        <% }%>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2><%= resources.translate("The survey")%></h2>
    <h3><%= resources.translate("Topics(formal)")%></h3>
    <table id="formal-session" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= resources.translate("Topic")%></th>
          <th><%= resources.translate("Speakers")%></th>
          <th>人气值</th>
          <th>操作</th>
          <th>查看</th>
        </tr>
      </thead>
      <tbody>
        <% formal.forEach(function (topic) { %>
        <tr data-id="<%=topic._id%>" data-type="<%=topic.type%>">
          <td><%=topic.name%></td>
          <td><%=topic.speaker%></td>
          <td><%= topic.vote.length %></td>
          <td><a href="javascript:;" class="select btn btn-primary">选为预选话题</a></td>
          <td><a href="javascript:;" class="view">查看</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3><%= resources.translate("Topics(inviting)")%></h3>
    <table id="pre-session" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= resources.translate("Topic")%></th>
          <th><%= resources.translate("Speakers")%></th>
          <th>人气值</th>
          <th>操作</th>
          <th>查看</th>
        </tr>
      </thead>
      <tbody>
        <% wish.forEach(function (topic) { %>
        <tr data-id="<%=topic._id%>" data-type="<%=topic.type%>">
          <td><%=topic.name%></td>
          <td><%=topic.speaker%></td>
          <td><%= topic.vote.length %></td>
          <td><a href="javascript:;" class="select btn btn-primary">选为正式话题</td>
          <td><a href="javascript:;" class="view">查看</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h3><%= resources.translate("More topics") %></h3>
    <p><%= resources.translate("Not enough") %></p>
    <div class="well form-inline">
      <fieldset id="topic" class="control-group">
        <input type="hidden" id="id" />
        <label for="name"><%= resources.translate("Topic")%>：</label>
        <input type="text" id="name" placeholder="<%= resources.translate("eg. topic") %>" />
        <label for="speaker"><%= resources.translate("Speakers")%>：</label>
        <input type="text" class="input-medium" id="speaker" placeholder="<%= resources.translate("eg. speaker") %>" />
        <button class='btn btn-primary' id='submit'>更新</button>
        <span class="help-inline" id='status'>&nbsp;</span>
      </fieldset>
    </div>
    <hr />
    <footer>
      &copy;hu.js 2012
    </footer>
  </div>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type='text/javascript'>
(function() {
    var c = document.createElement('script'); 
    c.type = 'text/javascript';
    c.async = true;
    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/46449';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
})();
</script>
</body>
</html>