<!DOCTYPE html>
<html>
<head>
  <title><%= locals.page ? page.title + " - " : "" %><%= resources.header.translate("title")%></title>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script>
    var csrf = '<%=csrf%>';
  </script>
  <script src="/assets/scripts/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">
          <% include logo %>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="<%= (viewname === 'news' ? 'active' : '')%>"><a href="/news"><%= resources.header.translate("News")%></a></li>
            <li class="<%= (viewname === 'survey' ? 'active' : '')%>"><a href="/survey"><%= resources.header.translate("Survey")%></a></li>
            <li class="<%= (viewname === 'schedule' ? 'active' : '')%>"><a href="/schedule"><%= resources.header.translate("Schedule")%></a></li>
            <li class="<%= (viewname === 'venue' ? 'active' : '')%>"><a href="/page/venue"><%= resources.header.translate("Venue")%></a></li>
            <li class="<%= (viewname === 'speakers' ? 'active' : '')%>"><a href="/speakers"><%= resources.header.translate("Speakers")%></a></li>
            <li class="<%= (viewname === 'sponsors' ? 'active' : '')%>"><a href="/sponsors"><%= resources.header.translate("Sponsors")%></a></li>
            <li class="<%= (viewname === 'community' ? 'active' : '')%>"><a href="/community"><%= resources.header.translate("Community")%></a></li>
            <li class="<%= (viewname === 'about' ? 'active' : '')%>"><a href="/page/about"><%= resources.header.translate("About")%></a></li>
            <li class="<%= (viewname === 'contact' ? 'active' : '')%>"><a href="/page/contact"><%= resources.header.translate("Contact")%></a></li>
            <li class="divider-vertical"></li>
          </ul>
        </div><!--/.nav-collapse -->
        <div class="btn-group pull-right">
        <% if (user.name) {%>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <img style="width: 18px; height: 18px;" src="<%=user.profile_image_url%>" /> <%=user.name%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a href="#">Profile</a></li>
            <li class="divider"></li>-->
            <li><a href="/ouath/logout"><%= resources.header.translate("Logout") %></a></li>
          </ul>
        <% } else { %>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> <%= resources.header.translate("Sign In") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a href="#">Profile</a></li>
            <li class="divider"></li>-->
            <li>
              <a href="/oauth?blogtype=github">Github (<%= resources.header.translate("recommended") %>)</a>
            </li>
            <li>
              <a href="/oauth?blogtype=weibo">新浪微博</a>
            </li>
            <li>
              <a href="/oauth?blogtype=tqq">腾讯微博</a>
            </li>
          </ul>
        <% }%>
        </div>
      </div>
    </div>
  </div>
