<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit">
          <div class="logo">
            <% include logo %>
          </div>
          <h1><%= resources.view.translate("date_city")%></h1>
          <p><%= resources.view.translate("introduction")%></p>
          <h2><%- resources.view.translate("hashtag")%></h2>
        </div>
        <h2><%= resources.view.translate("About")%></h2>
        <p>
        <%= resources.view.translate("About-text")%>
        </p>
        <h2><%= resources.view.translate("Objectives")%></h2>
        <p>
        <%= resources.view.translate("Objectives-text")%>
        </p>
      </div>
<!--      <div class="span3">
        <% include sidebar%>
      </div> -->
    </div>
  </div>
</div>
<% include footer %>