<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9 page" id="<%=page.id %>">
        <article class="news" id="<%=news.id %>">
          <header>
            <h1><%=news.title %></h1>
            <span><%= resources.translate("Date")%>: <%=news.date.toLocaleDateString() %></span>
          </header>
          <hr />
          <div class="content">
            <%-news.content %>
          </div>
        </article>
      </div>
      <div class="span3">
        <% include sidebar %>
      </div>
    </div>
  </div>
</div>
<% include footer %>
