<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <h2>演讲嘉宾<small>外籍嘉宾</small></h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= resources.view.translate("Topic")%></th>
              <th><%= resources.header.translate("Speakers")%></th>
              <th>Github</th>
            </tr>
          </thead>
          <tbody>
            <% foreign.forEach(function (topic) { %>
            <tr data-id="<%=topic._id%>">
              <td><%=topic.name%></td>
              <td><%=topic.speaker%></td>
              <td><%- topic.github ? '<a href="https://github.com/' + topic.github + '">@' + topic.github + '</a>' : '暂无'%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <h2>演讲嘉宾<small>国内嘉宾</small></h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= resources.view.translate("Topic")%></th>
              <th><%= resources.header.translate("Speakers")%></th>
              <th>Github</th>
            </tr>
          </thead>
          <tbody>
            <% local.forEach(function (topic) { %>
            <tr data-id="<%=topic._id%>">
              <td><%=topic.name%></td>
              <td><%=topic.speaker%></td>
              <td><%- topic.github ? '<a href="https://github.com/' + topic.github + '">@' + topic.github + '</a>' : '暂无'%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <% include sidebar %>
      </div>
    </div>
  </div>
</div>
<% include footer %>