<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <h2><%= resources.header.translate("Speakers") %> <small><%= resources.general.translate("Foreign") %></small></h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= resources.general.translate("Topic") %></th>
              <th><%= resources.general.translate("Name") %></th>
              <th>Github</th>
            </tr>
          </thead>
          <tbody>
            <% foreign.forEach(function (topic) { %>
            <tr data-id="<%= topic._id %>">
              <td><%= topic.name %></td>
              <td><%= topic.speaker %></td>
              <td><%- topic.github ? '<a href="https://github.com/' + topic.github + '">@' + topic.github + '</a>' : resources.general.translate('None')%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <h2><%= resources.header.translate("Speakers") %> <small><%= resources.general.translate("Domestic") %></small></h2>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= resources.general.translate("Topic")%></th>
              <th><%= resources.general.translate("Name")%></th>
              <th>Github</th>
            </tr>
          </thead>
          <tbody>
            <% local.forEach(function (topic) { %>
            <tr data-id="<%= topic._id %>">
              <td><%= topic.name %></td>
              <td><%= topic.speaker %></td>
              <td><%- topic.github ? '<a href="https://github.com/' + topic.github + '">@' + topic.github + '</a>' : resources.general.translate('None')%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="span3">
        <% include sidebar %>
      </div>
    </div>
  </div>
</div>
<% include footer %>