<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <p class="lead"><%= resources.view.translate("Hu.js coming soon!")%></p>
        <h2><%= resources.view.translate("The survey")%></h2>
        <h3><%= resources.view.translate("Topics(inviting)")%></h3>
        <table id="pre-session" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><%= resources.view.translate("Topic")%></th>
              <th><%= resources.header.translate("Speakers")%></th>
              <th><%= resources.view.translate("Interesting") %></th>
            </tr>
          </thead>
          <tbody>
            <% topics.forEach(function (topic) { %>
            <tr data-id="<%=topic._id%>">
              <td><%=topic.name%></td>
              <td><%=topic.speaker%></td>
              <td><a href="javascript:;" class="btn btn-primary"><%= topic.vote.length %> | <%=resources.view.translate("I wanna listen it")%></a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <h3><%= resources.view.translate("More topics") %></h3>
        <p><%= resources.view.translate("Not enough") %></p>
        <div class="well form-inline">
          <fieldset id="topic" class="control-group">
            <input type="hidden" id="id" />
            <label for="name"><%= resources.view.translate("Topic")%>：</label>
            <input type="text" id="name" placeholder="<%= resources.view.translate("eg. topic") %>" />
            <label for="speaker"><%= resources.header.translate("Speakers")%>：</label>
            <input type="text" class="input-medium" id="speaker" placeholder="<%= resources.view.translate("eg. speaker") %>" />
            <button class='btn btn-primary' id='submit'><%= resources.view.translate("I wanna listen too!")%></button>
            <span class="help-inline" id='status'>&nbsp;</span>
          </fieldset>
        </div>
      </div>
      <div class="span3">
        <% include sidebar %>
      </div>
  </div>
</div>
<% include footer %>